
<div class="container-fluid ">
  <!--NAVBAR-->
  <div class="row shadow d-flex align-items-center justify-content-between" style="background-color: black; height: 75px;">
    <div class="col-4 ">
      <img routerLink="/" src="assets\logo.png" class="img-fluid" style="cursor: pointer; width:224px; position:relative; bottom:50px" alt="img">
    </div>
    <div class="col-2">


      <img (click)="changeHeightNotification()" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" src="assets\bell.png" class="img-fluid" style="cursor: pointer; width:24px; position:relative; top:30px" alt="img">
      <div [style.visibility]="notificationHeight" style="width: 290px; background-color:white; position:relative; top:40px; z-index:11111;" class="p-3 border">
        <p style="cursor: pointer; font-weight: 700; font-size: 24px;">Notifications</p>
        <p style="cursor: pointer; font-weight: 500; font-size: 20px;">Newest</p>
        <hr>
        <div class="row" style="overflow:auto; max-height:200px">
          <div *ngFor="let tempnotificationArrayitem of tempnotificationArray">
            <p>{{tempnotificationArrayitem}}</p>
          </div>
        </div>
      </div>


    </div>
  </div>
  <!--SIDEBAR AND CONTAINER-->
  <div class="row" style="height: 1000px;">
    <div class="col-2 shadow" style="background-color: white;">
      <div class="row  pt-4 sidebar" style="padding-left: 22px;"><p routerLink="/home" class="h5" style="font-weight: 700; cursor: pointer;"> Home</p></div>
      <div class="row  pt-2 sidebar" style="padding-left: 22px;"><p routerLink="/cards" class="h5" style="font-weight: 700; cursor: pointer;">Cards</p></div>
    </div>
    <div class="col-10">
      <div class="row p-5" style="height: 95%;">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

  <!--BOTTOM-->
  <div class="row shadow-lg justify-content-center align-items-center pt-2 pb-2" style="height: auto; background-color: black;">
    <div class="col col-3">
      <p style="color: whitesmoke; font-size: 15px; font-weight: 500;">Developed and Deisgned by Sabali Soft {{getCurrentYear()}} </p>
    </div>
  </div>

  <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
</div>
